@model IEnumerable<StoreFront6.DATA.EF.InvStatu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvID })
        </td>
    </tr>
}

</table>
