@model StoreFront6.UI.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Already have an account?";
}



<div class="row d-flex justify-content-center" style="padding-top: 2em;">
    <div class="">
        <h2>@ViewBag.Title</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Log In</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center">                        
                        <input type="submit" value="Log In" class="btn btn-primary justify-content-center" />
                    </div>
                </div>
                <div class="form-group ">
                    <div class="text-center">

                        <p class="d-inline-block" style="padding-right: 5px;">
                            @Html.ActionLink("Register a new user?", "Register")
                        </p>
                        <p class="d-inline-block" style="padding-right: 5px;">
                            @Html.ActionLink("Forget your password?", "ForgotPassword")
                        </p>
                        <div class="checkbox text-center justify-content-center " style="padding-bottom: 1em;">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)

                        </div>
                    </div>
                </div>
                
                
            }
        </section>
    </div>
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}