<section class="ftco-section" style="padding-top:2.5em;">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <a href="@Url.Action("GetTunnels", "Filters")">
                        <div class="img" style="background-image: url(../../content/images/tunnels.jpg);"></div>
                    </a>
                    <h3>Tunnels</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <a href="@Url.Action("GetPlugs", "Filters")">
                        <div class="img" style="background-image: url('../../content/images/plugs (2).jpg');"></div>
                    </a>
                    <h3>Plugs</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <a href="@Url.Action("GetHangers", "Filters")">
                        <div class="img" style="background-image: url(../../content/images/hangers.jpg);"></div>
                    </a>
                    <h3>Hangers</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <a href="@Url.Action("GetClickers", "Filters")">
                        <div class="img" style="background-image: url(../../content/images/clickers.jpg);"></div>
                    </a>
                    <h3>Clickers</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <a href="@Url.Action("GetStacks", "Filters")">
                        <div class="img" style="background-image: url(../../content/images/stacks.jpg);"></div>
                    </a>
                    <h3>Stacks</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <a href="@Url.Action("GetHoops", "Filters")">
                        <div class="img" style="background-image: url(../../content/images/hoops.jpg);"></div>
                    </a>
                    <h3>Hoops</h3>
                </div>
            </div>
        </div>
    </div>
</section>
