
@{
    ViewBag.Title = "Custom Error Page Testing";
}

<h2 class="text-center">@ViewBag.Title</h2>
<div class="col-md-12 text-center">
    <h3>Error Examples</h3>
    <p>
        @Html.ActionLink("Sample Error", "SampleError", "Errors", null, new { @class = "btn btn-primary" })
        @* Divide By Zero *@
    </p>

    <p>
        @Html.ActionLink("Default Custom Error", "Unresolved", "Errors", null, new { @class = "btn btn-primary" })
        @* Default Custom Errors *@
    </p>

    <p>
        @Html.ActionLink("404 Error", "IncorrectRoute", "Errors", null, new { @class = "btn btn-primary" })

    </p>

    <p>
        @Html.ActionLink("404 in MVC", "Throw404", "Errors", null, new { @class = "btn btn-primary" })

    </p>

    <p>
        @Html.ActionLink("DB is Offline", "DBOffline", "Errors", null, new { @class = "btn btn-primary" })
    </p>

</div>

